.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 844px;
  min-height: 106px;
  max-height: 106px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  color: #231c1c;
  font-family: 'Neucha', sans-serif;
  font-style: normal;

  .navContainer {
    display: flex;
    align-items: center;
    width: 778.2px;
    gap: 10px;
    min-width: 778.2px;
    min-height: 106px;
    max-height: 106px;

    .navItem {
      display: flex;
      align-items: center;
      padding: 10px 40px;
      cursor: pointer;
    }

    .navItemCurrent {
      color: #fff;
      background-color: #b367e2;
      border-radius: 6px;
      box-shadow: 4px 4px 0 rgba(135, 214, 181, 1);
    }
  }

  .userProfile {
    min-width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;
    cursor: pointer;
  }

  .photoWrapper {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
  }

  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.burgerMenu {
  display: none;
}

@media (max-width: 640px) {
  .header {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    display: none;

    .navContainer {
      width: 100vw;
      min-width: 100vw;
      max-width: 100vw;
      height: 70vh;
      min-height: 70vh;
      max-height: 70vh;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
    }

    .userProfile {
      min-width: 100vw;
      max-width: 100vw;
      min-height: 30vh;
      max-height: 30vh;
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .photoWrapper {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      overflow: hidden;
    }

    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .burgerMenu {
    display: flex;
    width: 100%;
    padding: 20px 0 20px 40px;
    box-sizing: border-box;
    height: fit-content;

    .menuIcon {
      width: 32px;
      height: 24px;
      min-height: 18px;
    }
  }
}
