.button {
  /* transform: translate(-50%, 0); */
  position: relative;
  margin: 8px;
  height: 61px;
  width: 176px;
  overflow: hidden;
  border-radius: 17px;
  border: 1.5px solid #231c1c;
  padding: 4px 24px;
  text-align: center;
  font-size: 1.5rem;
  color: #323030;
  box-shadow: 6.6px 6.8px 0 0 rgba(179, 103, 226, 1);
  transition: all 0.3s ease-out;

  &:disabled {
    opacity: 0.7;
  }
}

/* hover:enabled:bg-[#505cc9] */
