.wrapper {
  margin-bottom: 20px;
  border-radius: 17px;
  border: 1px solid #231c1c;
  background-color: #fff;
  padding: 12px;
  width: 100%;
  height: 88px;
  z-index: 5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 250ms;

  // &::before {
  //   content: '';
  //   z-index: 0;
  //   display: block;
  //   width: 100%;
  //   height: 88px;
  //   background-color: pink;
  //   border-radius: 17px;
  //   border: 1px solid #231c1c;
  //   margin: 0 0 0 0;
  //   padding: 0;
  // }

  &:hover {
    box-shadow: 4px 4px 0 rgba(213, 128, 205, 1);
  }
}

.content {
  @apply flex items-center justify-between gap-x-3;
}

.buttons {
  @apply flex items-center gap-x-3;
}

.title {
  @apply text-base font-bold;
}

.description {
  @apply max-w-[500px] truncate;
}
