.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: center;
}

.title {
  margin-bottom: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
}

.close {
  position: absolute;
  right: 4px;
  top: 4px;
}

.icon {
  height: 24px;
  width: 24px;
}

.info {
  text-align: center;
}

.description {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 640px) {
  .info {
    margin-bottom: 0;
    text-align: left;
  }

  .description {
    max-width: 300px;
  }

  .title {
    margin-bottom: 0;
    max-width: 300px;
  }

  .buttons {
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .description {
    max-width: 400px;
  }

  .title {
    max-width: 400px;
  }
}
