.wrapper {
  @apply flex flex-col items-center gap-3;
}

.imageWrapper {
  @apply h-48 w-48 overflow-hidden rounded-full;
}

.image {
  @apply h-full w-full object-cover;
}

.name {
  @apply text-xl;
}
