.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: center;
}

.info {
  margin-bottom: 12px;
  text-align: center;
  min-width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.gameTextInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;

  .title {
    margin-bottom: 4px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
  }

  .description {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.close {
  position: absolute;
  right: 4px;
  top: 4px;
}

.icon {
  height: 24px;
  width: 24px;
}

.button {
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 640px) {
  .info {
    margin-bottom: 0;
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;
  }

  .gameTextInfo {
    align-items: flex-start;
    margin-left: 20px;
  }

  .description {
    max-width: 300px;
  }

  .title {
    margin-bottom: 0;
    max-width: 300px;
  }

  .buttons {
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .description {
    max-width: 400px;
  }

  .title {
    max-width: 400px;
  }
}
