@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-font-family: Neucha, sans-serif;
  }

  html,
  body {
    -webkit-font-smoothing: antialiased;
    @apply h-full min-w-[320px] overflow-x-hidden font-neucha text-base font-normal leading-snug text-black;
  }
}

@layer components {
  .icon {
    @apply h-7 w-7 cursor-pointer;
  }
}

@layer utilities {
  .required {
    @apply align-top text-base text-red-500;
  }
}
